# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,py}]
charset = utf-8

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4

# Tab indentation
[{Makefile, makefile, GNUmakefile}]
indent_style = tab
indent_size = 4
